body {
  /* background-color: rgb(173, 129, 215); */
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}
.menu {
  background-color: burlywood;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2,
p {
  text-align: center;
}

.flavor {
  text-align: left;
  width: 75%;
}
.price {
  text-align: right;
  width: 24%;
  /* border: 1px solid black; */
}

.item p {
  display: inline-block;
}
